{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row">
        <p class="lead">A complete project boilerplate built with Bootstrap</p>
        <p>Bootstrap v5.1.3</p>
    </div>

    {{ form(test_form) }}

    {{ include('_fragment/_modal/_form_collection_removal.html.twig') }}
{% endblock %}