{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row mb-5">
        <div class="col-12 col-lg-8">
            {% if app_asks_for_cookie_consent() %}
                <a type="button" class="mb-2" data-bs-toggle="modal" href="#cookie-consent-modal">
                    <i class="fas fa-cookie-bite"></i>
                    {{ 'menu.cookie_consent_preferences'|trans }}
                </a>
            {% endif %}

            {{ include('_fragment/_content/_display_text.html.twig', {
                text_content_identifier: 'privacy',
            }) }}
        </div>
    </div>
{% endblock %}