{% extends "user/application/base.html.twig" %}

{% block application_main %}
    {{ include('_fragment/_application/_application_summary.html.twig', {
        application: application,
        show_application_completed_data: false,
        show_application_campers: true,
        show_application_purchasable_items: true,
    }) }}

    <div class="row mt-5">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {{ form(form_application_step_three, {
                application_back_url: application_back_url,
               })
            }}
        </div>
    </div>
{% endblock %}