{% for service_id, service_data in social_login_services %}
    <a href="{{ path('user_login_oauth', {service: service_id}) }}">
        <i class="{{ service_data.icon }} w-24px"></i>

        {{ service_data.name }}
    </a>
{% endfor %}