{% if 'facebook' in social_login_services %}
    <div>
        <a href="{{ path('user_login_oauth', {service: 'facebook'}) }}">Facebook</a>
    </div>
{% endif %}

{% if 'google' in social_login_services %}
    <div>
        <a href="{{ path('user_login_oauth', {service: 'google'}) }}">Google</a>
    </div>
{% endif %}