{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row mb-3">
        <div class="col">
            {% set navbar_user_profile = build_menu('navbar_user_profile') %}
            {{ menu(navbar_user_profile) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
{% endblock %}