{% extends "user/profile/base.html.twig" %}

{% block profile_content %}
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {{ form(form_billing) }}
        </div>
    </div>
{% endblock %}