{% extends "user/profile/base.html.twig" %}

{% block profile_content %}
    <div class="row">
        <div class="col">
            <p>{{ 'auth.profile_password_change_create_instruction'|trans }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {{ form(form_password_change_create) }}
        </div>
    </div>
{% endblock %}