{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col">
            <p>{{ 'auth.registration_enter_password'|trans }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            {{ form(form_plain_password) }}
        </div>
    </div>
{% endblock %}