{% extends "admin/base.html.twig" %}

{% block main %}
    {% if camp is defined %}
        <div class="row mb-3">
            <div class="col">
                <div class="card card-primary card-outline card-outline-tabs m-0">
                    <div class="card-header p-0 border-bottom-0">
                        {% set navbar_admin_camp_update = build_menu('navbar_admin_camp_update', {camp: camp}) %}
                        {{ menu(navbar_admin_camp_update) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block camp_update_content %}{% endblock %}
{% endblock %}