{% extends "user/base.html.twig" %}

{% block main %}
    <div class="row mb-3">
        <div class="col-12 col-lg-8">
            <small>
                {{ blog_post.createdAt|date(date_time_format) }}

                {% if blog_post.updatedAt is not null %}
                    ({{ 'entity_attribute.blog_post.updated_at'|trans }}:
                    {{ blog_post.updatedAt|date(date_time_format) }})
                {% endif %}
            </small>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 col-lg-8">
            {{ blog_post.content|raw }}
        </div>
    </div>
{% endblock %}