{% extends "admin/camp/base_update.html.twig" %}

{% block camp_update_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8 col-xl-5">
                            {{ form(form_upload) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}