<a class="navbar-brand d-flex align-items-center" href="{{ path('user_home') }}">
    <img src="{{ company_logo_url() }}"
         alt="{{ site_name }}"
         class="d-inline-block align-top me-2"
         width="30"
         height="30"
    >

    <h5 class="text-center m-0">
        {{ site_name }}
    </h5>
</a>