{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-8 col-xl-5">
                            <p>{{ 'crud.confirmation.purchasable_item_delete'|trans({'name': purchasable_item.name}) }}</p>

                            {{ form(form_delete) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}