{% set application_url = path('user_application_step_one_create', {
    campDateId: camp_date.id.toRfc4122
}) %}

{% set application_id = get_application_draft_id(camp_date) %}

{% if application_id is not null and applications_editable_drafts_result.isApplicationEditableDraft(application_id) %}
    {% set application_url = path('user_application_step_one_update', {
        applicationId: application_id.toRfc4122
    }) %}
{% endif %}

<a href="{{ application_url }}" class="stretched-link">
    {{ 'application.apply'|trans }}
</a>