{% extends "admin/base.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    Profile...
                </div>
            </div>
        </div>
    </div>
{% endblock %}