{% extends "_fragment/_modal/_base.html.twig" %}

{% block modal_id %}fc-removal-modal{% endblock %}

{% block modal_attributes %}
    data-controller="fc--rem-mod"
{% endblock %}

{% block modal_body %}
    {{ 'modal.form_collection_remove.question'|trans }} <strong>{{ 'modal.form_collection_remove.warning'|trans }}</strong>
{% endblock %}

{% block modal_footer %}
    {{ parent() }}

    <button type="button"
            class="btn btn-danger"
            data-action="fc--rem-mod#removePreparedItem">
        {{ 'modal.form_collection_remove.button_remove'|trans }}
    </button>
{% endblock %}